@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap');

.main-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: Rubik;
    box-sizing: 0;
    overflow-x: hidden;
    z-index: 1;
    .top{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        background-image: url('ip-address-tracker/public/pattern-bg-desktop.png');
        width: 100%;
        height: 30vh;
        margin: 0px;
        z-index: 1;
        h2{
            font-weight: 600;
            color: rgb(241, 234, 234);
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 8px;
        }
        .searchbar{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
            input{
                width: 380px;
                height: 35px;
                border-radius: 10px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border: none;
                padding-left: 10px;
                outline: none;
                &::placeholder{
                    font-family: Rubik;
                }
            }
            button{
                align-items: center;
                border-radius: 8px;
                border: 1px solid transparent;
                padding: 0.6em 0.2em;
                cursor: pointer;
                background-color: hsl(0, 0%, 17%);
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                height: 38px;
                width: 40px;
                justify-content: center;
                &:hover{
                    background-color: hsl(0, 0%, 27%);
                }

                img{
                    width: 8px;
                }
            }
        }
    }
    .ipdata{
        display: flex;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top:150px;
        margin-bottom:-74px;
        padding: 14px;
        padding-top: 20px;
        width: fit-content;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
        z-index: 2;
        span{
            display: flex;
            flex-direction: column;
            margin:0px 40px;
            padding: 0px;
            height:fit-content ;
            text-align: left;

            span{
                margin: 0px;
                
            }
            h5{
                font-size: 10px;
                color:hsl(0, 0%, 59%);
                letter-spacing: 1px;
                margin: 7px;
                margin-left: 0px;
                

            }
            p{
                font-size: 18px;
                color: hsl(0, 0%, 17%);
                font-weight: 500;
                margin: 10px;
                margin: 0px;
                
            }
        }
    }
}

@media screen and (max-width:700px) {

    .main-container{
        .top{
            background-image: url('ip-address-tracker/public/pattern-bg-mobile.png');
            background-repeat: no-repeat;
            background-size:cover;
            height: 40vh;
            h2{
                font-size: 25px;
            }
            .searchbar{
                input{
                    width: 300px;
                    height: 40px;
                }
                button{
                    height: 42px;
                }
            }
        }
        
        .ipdata{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            top: 140px;
            padding: 1px 40px;
            
            span{
                margin: 10px;
                text-align: center;
                span{
                    display: inline;
                }
                h5{
                    margin-bottom: 1px;
                }
                p{
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    }

}